.services-section {
    text-align: center;
    padding: 2rem;
    background-color: #45a049;
    position: relative;
    z-index: 2;
}


.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.service-card {
    background: linear-gradient(135deg, #4CAF50, #2E8B57);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    color: #fff; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.book-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #45a049;
}